body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

.currentCard {
    max-width: 200px;
    max-height: 300px;
    margin-left:  50px;
    margin-right: 0;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
    align-items: center;
    margin: auto;
}

.dayCard {
    max-width: 30px;
    max-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: auto;
}

.dayCard h2 {
    font-size: 12px;
    margin: 0;
    justify-content: center;
}

.forecast-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.forecast-cards h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 1px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}
